ion-content {
    font-size: 1rem;
}

ion-card-header {
    font-family: 'Poppins Semi Bold', sans-serif !important;
    font-size: 2em;
}


ion-img {
    width: 100%;
    height: 200px;
}

.input {
    box-sizing: border-box;
    border-radius: 4px !important;
    background: #fff;
    border: 1px solid #e0e6ed;
    padding: 10px;
    color: #5c6776;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 9999 !important;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
}

.country-list {
    z-index: 9999 !important;
}

.error-message {
    color: #ff626a;
    padding-bottom: 12px;
    font-size: 14px;
}

.card {
    --background: var(--ion-item-background, transparent);
    --color: var(--ion-color-step-600, #666);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.12, .72, .29, 1);
    transition: -webkit-transform .5s cubic-bezier(.12, .72, .29, 1);
    transition: transform .5s cubic-bezier(.12, .72, .29, 1);
    transition: transform .5s cubic-bezier(.12, .72, .29, 1), -webkit-transform .5s cubic-bezier(.12, .72, .29, 1);
    font-size: 14px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
}

.card-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif !important;
}



.btn {
    width: 100%;
    padding: 10px 10px;
    background: red;
    --background: red;
    --box-shadow: none;
    border-radius: 6px;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    --color: #fff !important;
    color: #fff;
    outline: none;
    margin-bottom:10px;
    // margin-bottom:1px;
    /*    ion-icon {
        font-size: 1.5em;
        margin:0;
        padding:0;
        display: inline-block;
    } */
}

ion-img {
    object-fit: cover;
    -webkit-box-shadow: 0px 6px 25px 9px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 6px 25px 9px rgba(0, 0, 0, 0.12);

    content: "";
    background: -webkit-linear-gradient(top,transparent,rgba(0,0,0,.9));
    background: linear-gradient(to bottom,transparent,rgba(0,0,0,.9));
    z-index: 2;
    opacity: 0.4;

    
}


.phoneInput {
    width:100%!important;
    margin:0 auto!important;
}

.sign-up-btn {
    width: 100%;
    padding: 10px 10px;
    background:darkred;
    --background: darkred;
    --box-shadow: none;
    border-radius: 6px;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    --color: #fff !important;
    color: #fff;
    outline: none;
   
    // margin-bottom:1px;
    /*    ion-icon {
        font-size: 1.5em;
        margin:0;
        padding:0;
        display: inline-block;
    } */
}

input, 
textarea, 
ion-input,
ion-textarea {
  text-transform: none!important;
}